@import "base";

$playlist-sidebar-width: 300px;
$playlist-sidebar-closed-width: 48px;
$playlist-sidebar-animation-speed: 0.5s;

.playlist-list-container {
  overflow-x: hidden;

  .playlist-list {
    margin: 2rem 0;
  }

  .playlist-list-item {
    background: darken($o-dark-material, 10);
    overflow: hidden;
    margin: 0 0 0.5rem;

    a {
      width: 100%;
      display: inline-block;
      color: $o-base-text-color;
      padding: 0.3rem 0.5rem;
      @include ellipsis;
    }

    &.playlist-list-item-current {
      background: $o-thin-overlay-material;
    }
  }

  .playlist-list-duration {
    display: inline-block;
    text-align: right;
    width: 5rem;
    margin-right: 0.5rem;
  }

  .playlist-list-container-meta {
    opacity: 1;
    @include transition(opacity $playlist-sidebar-animation-speed);
  }

  h2 {
    margin: 1rem;
    font-size: 120%;
    border-bottom-color: darken($o-dark-material, 20);
  }

  p {
    margin: 0 1rem 1rem;
  }
}
