@import "compass/css3";
@import "base/params";
@import "base/media_query";
@import "compass/typography/text/replacement";

@mixin ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#views-container {
  @include narrower-than(520px) {
    padding: 0;
  }
}
