@import "compass/css3";
@import "base/params";
@import "base/media_query";

#file-list-container {
  @include narrower-than(520px) {
    padding: 0;
  }
}

.file-list {
  @include box-shadow($o-thin-overlay-shadow);

  .file-list-item {
    // Styling
    background: $o-thin-overlay-material;
    border-bottom: $o-separator-border;

    &:last-child {
      border-bottom: 0;
      @include border-bottom-left-radius($o-clickable-target-corner-radius);
      @include border-bottom-right-radius($o-clickable-target-corner-radius);
    }

    &:first-child {
      @include border-top-left-radius($o-clickable-target-corner-radius);
      @include border-top-right-radius($o-clickable-target-corner-radius);
    }

    .file-list-name {
      display: inline-block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      max-width: 80%;
    }

    .file-list-icon {
      // Basic geometry
      display: inline-block;
      width: 32px;

      // Icon size
      font-size: 180%;

      img {
        width: 32px;
        height: 32px;
        vertical-align: middle;
      }
    }

    a {
      // Typography
      font-size: 120%;
      text-decoration: none;

      // Basic geometry
      display: inline-block;
      padding: 1rem;
      width: 100%;

      // Styling
      color: $o-base-text-color;

      &:hover,
      &:focus {
        color: $o-accent;
      }
    }
  }

  .file-list-description {
    // Typography
    font-size: 90%;

    // Basic geometry
    display: block;
    padding-left: $o-clickable-target-size;
  }
}
