@import "compass/css3";
@import "base/params";
@import "base/media_query";
@import "compass/typography/text/replacement";

@mixin ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#file-list-container {
  @include narrower-than(520px) {
    padding: 0;
  }
}

.file-list {
  @include box-shadow($o-thin-overlay-shadow);

  .file-list-item {
    // Styling
    background: $o-thin-overlay-material;
    border-bottom: $o-separator-border;
    overflow: hidden;

    // Basic geometry
    position: relative;

    &:last-child {
      border-bottom: 0;
      @include border-bottom-left-radius($o-clickable-target-corner-radius);
      @include border-bottom-right-radius($o-clickable-target-corner-radius);
    }

    &:first-child {
      @include border-top-left-radius($o-clickable-target-corner-radius);
      @include border-top-right-radius($o-clickable-target-corner-radius);
    }

    .file-list-name {
      // Basic geometry
      display: inline-block;
      overflow: hidden;
      max-width: 80%;

      // Styling
      @include ellipsis;
    }

    .file-list-icon {
      // Basic geometry
      display: inline-block;
      width: 32px;

      // Icon size
      font-size: 180%;

      img {
        width: 32px;
        height: 32px;
        vertical-align: middle;
      }
    }

    a {
      // Typography
      font-size: 120%;
      text-decoration: none;

      // Basic geometry
      display: inline-block;
      padding: 1rem;
      width: 100%;

      // Styling
      color: $o-base-text-color;

      &:hover,
      &:focus {
        color: $o-accent;
      }
    }
  }

  .file-list-description {
    // Typography
    font-size: 90%;

    // Basic geometry
    display: block;
    padding-left: $o-clickable-target-size;
  }

  .file-list-file.file-list-search-result {
    a.file-list-link {
      width: 30%;

      @include narrower-than(1024px) {
        width: 50%;
      }

      @include narrower-than(640px) {
        width: 100%;
      }
    }

    &::after {
      // When file appears in search, parent folder is displayed next to it. This
      // rule prevents the folder link appearing below the file icon.
      content: '';
      display: block;
      clear: both;
    }
  }

  a.file-list-search-result {
    float: left;
    width: auto;
    vertical-align: middle;

  }

  a.file-list-parent-folder {
    width: 70%;
    font-size: 100%;
    @include ellipsis;

    @include narrower-than(1024px) {
      width: 50%;
    }

    @include narrower-than(640px) {
      display: none;
    }
  }
}

.file-list-controls {
  // Basic geometry
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 0.7rem 0.4rem;

  .file-list-delete {
    button {
      color: $o-base-text-color;

      &:hover,
      &:focus {
        color: $o-critical;
      }
    }

    .icon {
      font-size: 200%;
    }

    .label {
      display: none;
    }
  }
}
