@import "base";

$current-image-size: 300px;

.gallery-container {
  @include border-radius($o-clickable-target-corner-radius);

  background: $o-thin-overlay-material;
  width: 100%;
  height: 32rem;

  .gallery-current-image {
    border: 1px solid;
    @include border-radius($o-clickable-target-corner-radius);

    width: 60%;
    height: 100%;
    margin: 0 auto;

    .gallery-current-image-img {
      max-width: 100%;
      height: auto;
      display: block;
      margin: 0 auto;
    }
  }

}

.gallery-controls {
  width: 60%;
  margin: auto;

  a.gallery-controls-control {
    width: 25px;
    height: 25px;
  }

  a.gallery-controls-control-previous {
    float: left;
    padding-left: 30%;
  }

  a.gallery-controls-control-next {
    float: right;
    padding-right: 30%;
  }

  .gallery-controls-image-title {
    @include ellipsis;
    display: inline-block;
    width: 30%;
    text-align: center;
  }
}

.gallery-controls:after {
   content:"";
   display:block;
   clear:both;
}

$thumbnail-margin: 0.2rem;
$thumbnail-padding: 0.2rem;
$thumbnail-width: 7.5rem;
$thumbnail-size: $thumbnail-margin + $thumbnail-padding + $thumbnail-width;

.gallery-list-container {
  min-height: $thumbnail-size;
  width: 60%;
  margin: 0 auto;

  .gallery-list {
    margin: 0.2rem;
    border: 0.1rem solid;
    text-align: center;
    overflow: hidden;
    word-wrap: normal;
    white-space: nowrap;
  }

  .gallery-list-item {
    border: $o-widget-border;
    display: inline-block;

    margin: $thumbnail-margin;
    padding: $thumbnail-padding;

    .gallery-list-item-thumbnail {
      max-width: $thumbnail-width;
      max-height: $thumbnail-width;
    }
  }

  .gallery-list-item-current {
    // TODO: Use good values below
    border: 0.3rem solid #AAA;
  }
}

