@import "base";

.views-container {
  @include narrower-than(520px) {
    padding: 0;
  }

  clear: both;
}

.views-tabs-strip {
  height: 2rem;

  .views-tabs-strip-tab {
    min-width: 4.5rem;
    height: 2rem;
    line-height: 2rem;
    display: inline-block;
    margin-right: 0.5rem;
    background-color: rgba(51, 51, 51, 0.6);

    text-align: center;

    border-right: $o-separator-border;
    border-top: $o-separator-border;

    @include border-top-left-radius($o-clickable-target-corner-radius);
    @include border-top-right-radius($o-clickable-target-corner-radius);
  }

  .view-tabs-tab-current {
    position: relative;
    background: $o-thin-overlay-material;
    z-index: 10;
  }
}
